@CHARSET "UTF-8";

.root{
	-fx-background: #303030;
}

.control_panel {
	-fx-spacing: 20;
	-fx-padding: 10;
}

.vertical_scale{
	-fx-padding: 0 0 -7 -12;
	-fx-orientation: vertical;
}

.horizontal_scale{
	-fx-padding: -12 0 0 -8;
	-fx-orientation: horizontal;
}

.vertical_scale, .horizontal_scale {
	-fx-show-tick-labels: true;
	-fx-show-tick-marks: true;
	-fx-snap-to-ticks: true;
}

.vertical_scale .track, .horizontal_scale .track {
	-fx-background-color: #00000000;
}

.vertical_scale .thumb, .horizontal_scale .thumb{
	-fx-background-color: #00000000;
}

.vertical_scale .axis, .horizontal_scale .axis {
	-fx-tick-label-fill: #DFDF00;
}

.vertical_scale .axis .axis-tick-mark,
.vertical_scale .axis .axis-minor-tick-mark,
.horizontal_scale .axis .axis-tick-mark,
.horizontal_scale .axis .axis-minor-tick-mark {
	-fx-fill: null;
	-fx-stroke: #485F88;
}
